################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/msbuildOutputLogger/v16
/msbuildOutputLogger/.vs/VerilogIssue/v16
